<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
		<script type="text/javascript" src="{% static 'main/js/bootstrap.min.js' %}"></script>
	</head>
<body>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<h4>Hello World</h4> 
			<a href="/logout">Logout</a>
		</div>
	</nav>
</body>
</html>