<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
		<script type="text/javascript" src="{% static 'main/js/bootstrap.min.js' %}"></script>
	</head>
<body>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<a href="/friends">Home</a> | <a href="/logout">Logout</a>
		</div>
	</nav>
	{% for user in users %}
		<h4>{{user.alias}}'s Profile</h4>
		<p>Name: {{user.name}}</p>
		<p>Email Address: {{user.email}}</p>
	{% endfor %}
</body>
</html>